services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    command: ["sh", "-c", "cat /etc/gitlab/initial_root_password"]
    restart: always
    ports:
      - '80:80'
      - '443:443'
      - '22:22'
    volumes:
      - '$GITLAB_HOME/config:/etc/gitlab'
      - '$GITLAB_HOME/logs:/var/log/gitlab'
      - '$GITLAB_HOME/data:/var/opt/gitlab'
    shm_size: '256m'