services:
  gitlab-server:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab-server
    restart: always
    hostname: localhost
    ports:
      - '80:80'
      - '443:443'
      - '22:22'
    volumes:
      - '$GITLAB_HOME/config:/etc/gitlab'
      - '$GITLAB_HOME/logs:/var/log/gitlab'
      - '$GITLAB_HOME/data:/var/opt/gitlab'
    shm_size: '256m'
  
  gitlab-runner-docker:
    image: gitlab/gitlab-runner:latest
    container_name: gitlab-runner-docker
    restart: always
    privileged: true
    volumes:
      - $GITLAB_HOME/runner/config:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - gitlab-server